* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

#form-search {
	background-color: lightgrey;
	border-radius: 15px;
	padding: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}

#form-search h3 {
	font-size: 26px;
	text-align: center;
	padding-bottom: 20px;
}

#form-search input {
	border-radius: 5px;
	height: 30px;
	font-size: 20px;
}

.movies {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.poster {
	width: 50%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
.poster h3{
	padding: 10px;
}
